<?xml version="1.0" encoding="UTF-8"?>

<context xmlns="http://www.jmingo.org/schema/context">


    <config>
        <benchmark enabled="false"/>
    </config>

    <querySetConfig>
        <querySet path="/mingo/test/testQuerySet.xml"/>
        <querySet path="/mingo/test/second/testQuerySet2.xml"/>
    </querySetConfig>

    <mongo port="27017" host="localhost" dbName="dbTest">
        <options>
            <option name="connectTimeout" value="100"/>
        </options>
    </mongo>

    <defaultConverter class="org.jmingo.mapping.convert.DefaultConverter"/>

    <converters package="org.jmingo.mapping.converter.custom"/>
</context>
