<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="MingoTest" annotations="JDK">
    <test name="jpa" verbose="10" annotations="JDK">
        <packages>
            <package name="com.mingo">
                <exclude name="com.mingo.integ"/>
            </package>
        </packages>
    </test>
</suite>
