<?xml version="1.0" encoding="UTF-8"?>

<context xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="../../../../main/resources/xml-schema/context.xsd">


    <querySetConfig dbName="dbTest">
        <querySet path="/xml/correct_fragment/query1.xml"/>
    </querySetConfig>

</context>
