<?xml version="1.0" encoding="UTF-8"?>

<context xmlns="http://www.mingo.com/schema/context">

    <querySetConfig>
        <querySet path="/xml/testQuerySet.xml"/>
    </querySetConfig>

    <queryAnalyzer type="jexl"/>

    <mongo port="27017" host="localhost" dbName="dbTest" writeConcern="ACKNOWLEDGED">
        <options>
            <option name="connectTimeout" value="100"/>
        </options>
    </mongo>

    <defaultConverter class="com.mingo.mapping.convert.DefaultConverter"/>

    <converters package="com.mingo.mapping.converter.custom"/>
</context>
