<?xml version="1.0" encoding="UTF-8"?>

<context xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="../../../../main/resources/xml-schema/context.xsd">


    <querySetConfig dbName="dbTestCommon">
        <querySet path="/xml/correct/query1.xml"/>
        <querySet path="/xml/correct/query2.xml"/>
    </querySetConfig>

    <queryExecutor type="MongoDriver"/>
    <queryAnalyzer type="jexl"/>

    <mongo port="27017" host="localhost"/>

    <defaultConverter class="com.mingo.convert.DefaultConverter"/>

    <!--<converters defaultConverter="com.mingo.convert.DefaultConverter">
        <converter name="simpleDomainConverter" class="com.mingo.converter.custom.SimpleDomainConverter"/>
    </converters>-->
    <converters package="com.mingo.converter.custom"/>
</context>
